@model Lab_24.Models.GameDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GamesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
